.e-card {
    border: 1px solid rgb(196, 196, 218) ; 
    width: fit-content;
    padding: 20px;
    background-color: rgb(246, 242, 242);
    border-radius: 5px;
}

.card-image {
    width: 32.4vh;
    height: 30vh;
}

.abs {
    width: 120%;
    height: 90%;
    margin-left: -20px;
    margin-top: 24px;
    background-color: black;
    color: white;
    font-size: 12.5px;
    border-radius: 5px;
}

.add-to-cart {
    height: 7vh;  
}

span {
    color: #DB4444;
}

.star {
    color: #FFAD33;
}
